<nav id="mobile-tabbar">
    <button type="button" class="tab" data-section-index="0">[me]</button>
    <span class="tab-sep">|</span>
    <button type="button" class="tab" data-section-index="1">[exp]</button>
    <span class="tab-sep">|</span>
    <button type="button" class="tab" data-section-index="2">[proj]</button>
    <span class="tab-sep">|</span>
    <button type="button" class="tab" data-section-index="3">[ui]</button>
    <span class="tab-sep">|</span>
    <button type="button" class="tab" data-section-index="4">[skills]</button>
    <span class="tab-sep">|</span>
    <button type="button" class="tab" data-section-index="5">[contact]</button>
</nav>
